<header>
    <div class="menubar">
        <a href="/home"><img src="./media/logo.png" class="logo"></a>
        <div class="menubutton"><a id="menulink" href="#">≡</a></div>
        <div id="menu" class="hiddenmenu">
            <div class="menuitem" id="drop1">
                <a href="#" id="aboutUs" class="menulink">ABOUT US</a>
                <div class="drop1-cont">
                    <a href="/aboutUs1" id="story">OUR STORY</a>
                    <a href="/aboutUs2" id="team">OUR TEAM</a>
                </div>
            </div>
            @* <div class="lilspace"><div class="menuitem" id="drop2">
                <a href="#" id="services" class="menulink">SERVICES</a>
                <div class="drop2-cont">
                    <a href="/services1" id="serv1">MANICURE</a>
                    <a href="/services2" id="serv2">PEDICURE</a>
                    <a href="/services3" id="serv3">NAIL ART</a>                       
                    <a href="/services4" id="serv4">CRYOTHERAPY</a>
                    <a href="/services5" id="serv5">CHEMICAL PEELING</a>                         
                </div>
            </div></div> *@
            <div class="menuitem">
                <a href="/services1" id="services" class="menulink">SERVICES</a></div>
            <div class="menuitem">
                <a href="/htn-products" id="products" class="menulink">PRODUCTS</a></div>
            <div class="menuitem">
                <a href="/htn-locations" id="loc" class="menulink">LOCATIONS</a></div>
            <div class="menuitem">
                <a href="/htn-whatsNew" id="wnew" class="menulink">WHAT'S NEW</a></div>
            <div class="menuitem">
                <a href="/htn-promos" id="promo" class="menulink">PROMOS</a></div>
            <div class="menuitem">
                <a href="/bookNow" id="book" class="menulink"><b>BOOK NOW!</b></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</header>