<!DOCTYPE html>
<html>
    <head>
        <title>About Us - Our Story</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/css/aboutUs1.css"/>
        <script src="/js/aboutUs1.js"></script>
    </head>
    <body>
        @await Html.PartialAsync("_Header.cshtml")
        <div class="banner">
            <h2><span style="color:red">O</span>
                <span style="color:orange">U</span>
                <span id="space" style="color:yellow">R</span>
                <span style="color:green">S </span>
                <span style="color:blue"> T</span>
                <span style="color:indigo">O</span>
                <span style="color:violet">R</span>
                <span style="color:pink">Y</span>
            </h2>
            <p>Established on December 2021. Our priority is to give the best care and service the people of different colors deserve. We want our customers to experience the most comfortable, friendly and safe atmosphere possible. We want to be the way for people to express their personality through the design they desire with their nails. We want our customers to have the feeling of wanting to flex their beautiful nails that our team made from their utmost effort.
            </p>
        </div>
        </div>
        @await Html.PartialAsync("_Footer.cshtml")
        <script src="/js/aboutUs1.js"></script>
    </body>
</html>