@model List<ServiceModel>
<!DOCTYPE html>
<html>
    <head>
        <title>Services - Manicure</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./css/services.css"/>
        <script src="./js/services.js"></script>
    </head>
    <body>
        @await Html.PartialAsync("_Header.cshtml")
            <div class="banner">
                <div class="pamagat">
                    <h2><span style="color:red">O</span>
                        <span style="color:orange">U</span>
                        <span id="space" style="color:yellow">R</span>
                        <span style="color:green">S</span>
                        <span style="color:blue">E</span>
                        <span style="color:indigo">R</span>
                        <span style="color:violet">V</span>
                        <span style="color:red">I</span>
                        <span style="color:orange">C</span>
                        <span style="color:yellow">E</span>
                        <span style="color:green">S</span>
                    </h2>
                </div>
                <div class="container">
                    <div class="serviceList">
                        @for (var x = 0; x <= Model.Count -1; x++)
                        {
                            <div>
                                <h2>• @Model[x].Name</h2>
                                <p>Details: @Model[x].Details</p>
                                <p>Price: <i><b>₱ @Model[x].Price</b></i></p>
                            </div>
                        }
                    </div>
                </div>
                
                <div class="vid">
                    <h3>• Informative Video about Cryotherapy</h3>
                    <video class="video" autoplay muted loop>
                        <source src="media/video.mp4" type="video/mp4">
                    </video>
                    <a href="/bookNow"><button class="book_button">BOOK NOW!</button></a>
                </div>
            </div>
        @await Html.PartialAsync("_Footer.cshtml")
        <script src="./js/services.js"></script>
    </body>
</html>