<!DOCTYPE html>
<html>
    <head>
        <title>Services - Nail Art</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./css/services3.css"/>
        <script src="./js/services3.js"></script>
    </head>
    <body>
        @await Html.PartialAsync("_Header.cshtml")
        <div class="banner">
            <h2><span style="color:red">N</span>
                <span style="color:orange">A</span>
                <span style="color:yellow">I</span>
                <span id="space" style="color:green">L </span>
                <span style="color:blue"> A</span>
                <span style="color:indigo">R</span>
                <span style="color:violet">T</span>
            </h2>
            <p>Details:</p>
            <p>• The process invloves applying 2 coats of your chosen coloured nail polish, then another layer of quick dry topcoat as this will help in removing the acryilic paint without distrubing the color.</p>
            <p>• Give us whatever design you desire. We will make everything is possible with our great nail technicians.</p>
            <!-- <br> -->
            <p>₱rice: <i><b>₱ 399</b></i></p>
            <div>
            <a href="/bookNow"><button class="book_button">BOOK NOW!</button></a></div>
        </div>
        </div>
        @await Html.PartialAsync("_Footer.cshtml")
        <script src="./js/services3.js"></script>
    </body>
</html>