<!DOCTYPE html>
<html>
    <head>
        <title>Services - Chemical Peeling</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="./css/services5.css"/>
        <script src="./js/services5.js"></script>
    </head>
    <body>
        @await Html.PartialAsync("_Header.cshtml")
        <div class="banner">
            <h2><span style="color:red">C</span>
                <span style="color:orange">H</span>
                <span style="color:yellow">E</span>
                <span style="color:green">M </span>
                <span style="color:blue">I</span>
                <span style="color:indigo">C</span>
                <span style="color:violet">A</span>
                <span id="space" style="color:red">L</span>
                <span style="color:orange">P</span>
                <span style="color:yellow">E</span>
                <span style="color:green">E </span>
                <span style="color:blue">L</span>
                <span style="color:indigo">I</span>
                <span style="color:violet">N</span>
                <span style="color:red">G</span>
            </h2>
            <p>Details:</p>
            <p>• This is a procedure in which a chemical solution is applied to the skin to remove the top layers. The skin that grows back is smoother.</p>
            <p>•  With a light or medium peel, you may need to undergo the procedure more than once to get the desired results.</p>
            <!-- <br> -->
            <p>₱rice: <i><b>₱ 1499</b></i></p>
            <div>
            <a href="/bookNow"><button class="book_button">BOOK NOW!</button></a></div>
        </div>
        @await Html.PartialAsync("_Footer.cshtml")
        <script src="./js/services5.js"></script>
    </body>
</html>